/* Base */
/* .button {
  padding: 1rem 4rem;
  cursor: pointer; //muestra un dedo en el cursor//
  font-family: $roboto;
  font-size: $medium;
  font-weight: $bold;
} */

/* Button Scheme */
/* .button_primary {
  border: none; //resetear boton//
  color: $white;
  background-color: $blue-bell;
  &:hover {
    //cuando el usuario pasa por arriba//
    background-color: $pale-lavander;
  }
  &:focus {
    //cuando es seleccionado//
    background-color: $gray;
  }
} */
