.footer {
  padding-top: 4rem;
  background-color: $raising-black;
  &__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin: 0;
  }
  &__item {
    a {
      font-size: $x-small;
      color: $gray;
      padding: 0 1.5rem;
    }

    a:hover {
      color: gray;
      font-weight: $regular;
    }
  }
  &__right {
    padding-bottom: 2rem;
    margin: auto;
    padding-top: .5rem;
    p {
      font-size: $x-small;
      color: $gray;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    margin-top: 3rem;
    &__container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    &__list {
      padding-top: 1.5rem;
    }
    &__right {
      padding-bottom: 2rem;
      padding-top: 2rem;
      margin: 0;
      margin-right: 2rem;
    }
  }
}

