.main {
  /*   background-color: forestgreen;
 */
  &__intro {
    width: 77%;
    font-family: "Raleway", sans-serif;
    position: relative;
    top: 1rem;
    left: 3rem;
    h4 {
      font-weight: bold;
      letter-spacing: 1px;
    }
    p {
      letter-spacing: 1px;
      margin-top: 1rem;
      font-family: $open-sans;
    }
  }
  &__title {
    text-align: center;
    h4 {
      font-family: $raleway;
      font-weight: $bold;
    }
  }
  &__graph {
    text-align: center;
    width: 70%;
    margin: auto;
    padding-top: 3rem;
  }
  &__content {
    text-align: left;
    margin: auto;
    width: 77%;
    font-family: $raleway;
    padding-top: 2rem;
    h6 {
      font-weight: bold;
      letter-spacing: 1px;
    }
    p {
      font-family: $open-sans;
      letter-spacing: 0.5px;
      margin-top: 1rem;
    }
  }
}

@media only screen and (min-width: 500px) {
  .main {
    &__intro {
      width: 75%;
      top: 2rem;
      left: 4rem;
    }
  }
}

@media only screen and (min-width: 600px) {
  .main {
    &__intro {
      width: 64%;
      top: 2rem;
      left: 4rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main {
    &__intro {
      width: 59%;
      position: absolute;
      top: 6rem;
      left: 5rem;
    }
    &__subcontainer {
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
    }
    &__graph {
      margin-left: 3rem;
    }
    &__content {
      margin-left: 3rem;
      padding-top: 4rem;
      padding-right: 2rem;
    }
  }
}

@media only screen and (min-width: 992px) {
  .main {
    &__intro {
      width: 35%;
      position: absolute;
      top: 6rem;
      left: 7rem;
    }
  }
}
