.price {
  height: auto;
  &__container {
    position: relative;
    background-image: url("../../assets/img/bg-price.svg");
    background-repeat: no-repeat;
    height: 98rem;
    background-size: contain;
  }
  &__title {
    text-align: center;
    margin-top: 10rem;
    h4 {
      font-family: $raleway;
      font-weight: $bold;
      color: $platinum;
    }
  }
  &__container-cards {
    padding-top: .1rem;
    padding-bottom: 2rem;
    background-color: #333745
  }
  &__card-1 {
    width: 20rem;
    background-color: $white;
    height: 35rem;
    margin: 4rem auto 5rem auto;
    padding: 2rem;

    h6 {
      font-family: $open-sans;
    }
    h3 {
      margin: 1rem 0rem;
      font-family: $raleway;
      font-weight: $bold;
    }
    hr {
      margin-top: 1.7rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid gray;
    }
    ul {
      padding-top: 0.3rem;
      padding-bottom: 8rem;
      font-family: $open-sans;
      font-size: 1rem;
    }
    li {
      margin-top: 1rem;
    }
    button {
      margin-top: 0.8rem;
      font-size: 1rem;
    }
  }
  &__card-2 {
    width: 20rem;
    background-color: $white;
    height: 39.5rem;
    margin: 3rem auto;
    padding: 2rem;

    h6 {
      font-family: $open-sans;
    }
    h3 {
      margin: 1rem 0rem;
      font-family: $raleway;
      font-weight: $bold;
    }
    hr {
      margin-top: 1.7rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid gray;
    }
    ul {
      font-family: $open-sans;
      font-size: 1rem;
      padding-top: 0.1rem;
      padding-bottom: 0.5rem;
    }
    li {
      margin-top: 1rem;
    }
    button {
      margin-top: 0.8rem;
      font-size: 1rem;
    }
  }
}
@media only screen and (min-width: 768px) {
  .price {
    &__container {
      height: 51rem;
      background-size: cover;
    }
    &__title {
      margin-top: 14rem;
    }
    &__container-cards {
      display: flex;
      justify-content: center;
      padding-bottom: 0;
    }
    &__card-1 {
      width: 23rem;
      height: 32rem;
    }
    &__card-2 {
      width: 23rem;
      height: 32rem;
      margin: 4rem auto;
    }
  }
}
@media only screen and (min-width: 768px) {
  .price{
    &__card-1 {
      margin: 4rem 2rem 5rem auto;
    }
    &__card-2 {
      margin: 4rem auto 4rem 1rem;
    }
  }
}

